# Ignore build related files.
**.o
**.a
**.d
**Makefile
**MakeFile
**.make


# Ignore binaries
**bin
**bin/*
ext/gtest/test1_example
**libtool


# Ignore config related files
**config.log
**config.status
**config.h
